.ct-text-title{
    font-weight: lighter !important;
    font-size: 20pt;
}
.ct-body-secondary{
    background: #222222 !important;
}
.ct-blur{
    filter: blur(8px);
  -webkit-filter: blur(8px);
}
.ct-white{
    color: white;
    text-shadow: 2px 2px #000000;
}
.ct-yellow{
    color: yellow;
    text-shadow: 2px 2px #000000;
}
body {
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
}
