.ct-text-title{
    font-weight: lighter !important;
    font-size: 20pt;
}
.ct-body-secondary{
    background: #222222 !important;
}
body {
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  background-size: cover;
}
