<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
    <div class="uk-width-1-3">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded" style="background: url(https://cdn.pixabay.com/photo/2021/06/09/18/50/ladybug-6324263_1280.jpg); background-size: cover; background-position-x: -90px;">
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-flex uk-flex-column">
                <div class="uk-grid">
                    <div class="uk-text-bold uk-margin-remove-top uk-width-1-4 uk-text-left">Nome:</div>
                    <div class="">Samuel Ferreira Pimentel</div>
                </div>
                <div class="uk-grid uk-margin-remove-top">
                    <div class="uk-text-bold uk-width-1-4 uk-text-left">Gênero:</div>
                    <div class="">Masculino</div>
                </div>
                <div class="uk-grid uk-margin-remove-top">
                    <div class="uk-text-bold uk-width-1-4 uk-text-left">Etnia</div>
                    <div class="">Brasileiro</div>
                </div>
                <div class="uk-grid  uk-margin-remove-top">
                    <div class="uk-text-bold uk-width-1-4 uk-text-left">Deficiencia:</div>
                    <div class="">Não</div>
                </div>
                <div class="uk-grid uk-margin-remove-top">
                    <div class="uk-text-bold uk-width-1-4 uk-text-left">Estado</div>
                    <div class="">Minas Gerais</div>
                </div>
                <div class="uk-grid uk-margin-remove-top">
                    <div class="uk-text-bold uk-width-1-4 uk-text-left">Cidade</div>
                    <div class="">Belo Horizonte</div>
                </div>
                <div class="uk-grid uk-margin-remove-top">
                    <div class="uk-text-bold uk-width-1-4 uk-text-left">Curso</div>
                    <div class="">Ciência da Computação</div>
                </div>
                <div class="uk-grid uk-margin-remove-top">
                    <div class="uk-text-bold uk-width-1-4 uk-text-left">Período</div>
                    <div class="">3º Período</div>
                </div>
            </div>
        </div>
    </div>
</div>
