<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Telefones</h3>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Pessoal</div>
                <div class="uk-text-right">(31) 99956-9956</div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Empresarial</div>
                <div class="uk-text-right">(31) 99956-9956</div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Residencial</div>
                <div class="uk-text-right">(31) 99956-9956</div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Demais Contatos</h3>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">E-mail</div>
                <div class="uk-text-right">goxtosinha@bandida.com</div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Linkedin</div>
                <div class="uk-text-right">Samuelzin</div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Site Pessoal</div>
                <div class="uk-text-right">Samuelzin.com.br</div>
            </div>
        </div>
    </div>
</div>
