<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Experiência profissional</h3>
            <p>Google</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Atividades Filantrópicas</h3>
            <p>Agiotismo</p>
        </div>
    </div>
</div>
