{% extends "base.html" %}
{% block conteudo %}
<div class="uk-background-cover ukborder-rounded uk-height-large uk-margin-medium-left uk-margin-medium-right uk-margin-medium-top uk-margin-medium-bottom" style="background: url(https://cdn.pixabay.com/photo/2021/01/15/17/37/cat-5919989_1280.jpg); background-size: cover;">
    <div class="uk-grid ">
        <div class=" uk-border-rounded uk-margin-medium-left uk-width-1-2 uk-card uk-card-body uk-height-large uk-text-center" style="background: url(https://i.imgur.com/a7EPyj5.png); background-size: cover;">
            <h3 class="uk-card-title ct-white">Para Empresas <h3>
            <p class="uk-text-small ct-white">Aqui vem um texto explicando os motivos
                (reais e os falsos) da empresa entrar no nosso site.
                para o cadastro de sua empresa, por favor, nós
                 <a class="ct-yellow"href="/contato">Contacte</a></p>
        </div>
    </div>
</div>
{% endblock conteudo %}
