{% extends "base.html" %}
{% block conteudo %}
<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
    <div class="uk-width-1-3 uk-height-large" >
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded"  style="background: url(https://cdn.pixabay.com/photo/2020/02/27/08/47/sunset-4883881_1280.jpg); background-size: cover; background-position-x: -120px;">
            <div class="uk-flex uk-flex-column">

            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-background-muted">
            <div class="uk-flex uk-flex-column">
                <h3 class="uk-card-title">Para Candidatos <h3>
                <p class="uk-text-small">Aqui vem um texto sobre os motivos dos candidatos cadastrarem no site, podemos falar como divulgamos as pessoas, apresentando infográficos bonitos e dinâmicos</p>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}
