<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Habilidades</h3>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Fazer Bolo:</div>
                <div class="uk-text-right">
                    <progress class="uk-progress" value="30" max="100"></progress>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Genshin:</div>
                <div class="uk-text-right">
                    <progress class="uk-progress" value="10" max="100"></progress>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Java:</div>
                <div class="uk-text-right">
                    <progress class="uk-progress" value="100" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Idiomas</h3>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Japonês:</div>
                <div class="uk-text-right">
                    <progress class="uk-progress" value="1" max="100"></progress>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Àrabe:</div>
                <div class="uk-text-right">
                    <progress class="uk-progress" value="30" max="100"></progress>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Inglês:</div>
                <div class="uk-text-right">
                    <progress class="uk-progress" value="80" max="100"></progress>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-margin-remove-top">
                <div class="uk-text-bold uk-width-1-3 uk-text-left">Portugues:</div>
                <div class="uk-text-right">
                    <progress class="uk-progress" value="80" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
</div>
