
<div class="uk-container uk-flex-center">
    <div class="uk-container uk-margin-small-top">
        <ul class="uk-subnav uk-subnav-divider" uk-switcher>
            <li><a href="#">Informações básicas</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Experiência</a></li>
            <li><a href="#">Qualificações</a></li>
            <li><a href="#">Escolaridade</a></li>
            <li><a href="#">Objetivos</a></li>
        </ul>
        <div class="uk-switcher uk-switcher-container">
            <div class="uk-switcher-item uk-margin-medium-top">
                {% include 'basic_info_userside.html' %}
            </div>
            <div class="uk-switcher-item">
                {% include 'contact_userside.html' %}
            </div>
            <div class="uk-switcher-item">
                {% include 'experience_userside.html' %}
            </div>
            <div class="uk-switcher-item">
               {% include 'qualifications_userside.html' %}
            </div>
            <div class="uk-switcher-item">
                {% include 'school_userside.html' %}
            </div>
            <div class="uk-switcher-item">
                {% include 'objetivos_userside.html' %}
            </div>
        </div>
    </div>
</div>
