{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
        <title>Currículos.com</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css"/>
        <link rel="stylesheet" href="css/custom.css"/>
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
  </head>
<body>
     {% include 'barra_navegacao.html' %}
     {% block conteudo %}
     {% endblock conteudo %}
</body>
</html>